@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* APP */
body {
  background-color: #cfb997;
  /* font-family: kaya Telivigala, cursive; */
  /* font-family: Akaya Kanadaka; */
  /* font-family: fantasy; */
  font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: fantasy;
}
nav {
  /* background-color: #800020; */
  /* background-color: #9f1d35; */
  max-width: 100%;
  max-height: 5rem;
  display: flex;
  justify-content: space-around;
  background-color: #741527;
  margin-top: 20px;
}

.linkHolder {
  display: flex;
  width: 100%;
  margin: auto;
}

ol {
  font-size: 30px;
}

li {
  font-size: 20px;
}

h3{
  margin: 0;
}

form {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.mainBoard {
  border-radius: 30px;
  margin: auto;
  margin-bottom: 2px;
  width: 90%;
  height: auto;
  background-color: white;
  padding-top: 40px;
}

/* Nav */
.imgHolder {
  margin: -60px 0px 0px 20px;
}

.logo {
  border-radius: 90%;
  background-color: white;
}

.anchor {
  margin: auto;
  cursor: grab;
  align-items: center;
  color: white;
  padding: 1%;
}

/* Home */
.home {
  display: flex;
  justify-content: center;
}

.homeHolder {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 55px;
}

.homeHeading {
  font-size: 40px;
}

.homeAbout {
  font-size: 30px;
}

.imgholder {
  margin-top: 30px;
  width: 100%;
  height: 400px;
  margin: auto;
  display: flex;
}

.storefront {
  margin-top: 30px;
  width: 100%;
}

.slider {
  height: 500px;
}

/* Contact page */
.contactpage {
  background-color: #f1eae0;
  padding: 20px 0 40px 0;
  border-radious: 30px 30px 30px 30px;
}

.contact {
  display: flex;
  justify-content: space-evenly;
}

.holders {
  margin-left: 20px;
}

.address {
  margin-right: 25px;
}

.googlemap {
  width: 100%;
  height: 300px;
  border: none;
}

.contactHeading {
  font-weight: bolder;
  font-size: 1.5rem;

}

.name {
  width: 12.5rem;
  height: 20px;
  margin: 10px 0px 10px 0px;
}

.emailInput {
  width: 12.5rem;
  height: 20px;
  margin: 10px 0px 10px 0px;
}

.phoneNumber {
  width: 12.5rem;
  height: 20px;
  margin: 10px 0px 10px 0px;
}

.comments {
  width: 12.5rem;
  margin: 10px 0px 10px 0px;
  height: 50px;
}

.formButton {
  justify-content: flex-start;
  margin: 10px 0px 10px 0px;
  padding: 5px;
}

.socialMedia {
  font-size: 1.5rem;
  font-weight: bolder;
}

.facebook {
  color: #741527;
  /* color: #3b5998; */
  margin-right: 15px;
}

.email {
  /* color: #800020; */
  color: #741527;
  margin-right: 15px;
}

.instagram {
  margin-right: 15px;
  color: #741527;
}

.titles {
  font-size: 1.25rem;
}

.ptitles {
  font-size: 1rem;
}

/* ABOUT */
.aboutHeading {
  margin: 20px 0px 0px 10px;
  font-size: 2.8rem;
}

.aboutTitle {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #822c3d;
}

.aboutInfo {
  width: 50%;
  padding: 0 0 0 10px;
}

.aboutHolder {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.left {
  font-size: 1.25rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: flex-start;
  color: #822c3d;
  font-weight: bolder;
}

/* DEPARTMENTS */
.heading {
  margin: 20px 0px 0px 10px;
  font-size: 2.8rem;
}

.departmentname { 
  font-size: 1.5rem;
  font-weight: bolder;
  color: #822c3d;

}

.produce {
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.departmentHolder {
  margin: 20px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.department {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px 10px 0px;
  padding: 0px 15px 0px 15px;
}
.application {
  margin: 5px 0 15px 0;
}

/*  TABLET  */
/*  TABLET  */
/*  TABLET  */
@media only screen and (max-width: 900px) {
  nav {
    max-height: 30rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
  }

  .imgHolder {
    margin-top: -40px;
    width: 60%;
    display: flex;
    margin: 0 auto;
  }

  .logo {
    margin-top: -50px;
    margin: 0 auto;
    border-radius: 90%;
  }

  .anchor {
    font-size: 15px;
    cursor: grab;
    color: white;
    flex-direction: row;
    padding: 3px;
  }

  .mainBoard {
    border-radius: 30px;
    margin: auto;
    width: 90%;
    background-color: white;
    padding-top: 10px;
  }

  .linkHolder {
    display: flex;
    background-color: #800020;
    width: 100%;
    margin: auto;
  }
  .imgHolder {
    margin: 0px 0px 0px 20px;
    margin: auto;
  }

  .logo {
    border-radius: 90%;
    background-color: white;
  }

  .heading {
    text-align: center;
    margin: 20px 0px 0px 10px;
    font-size: 45px;
  }
  
  .alter {
    font-size: 25px;
    margin: auto;
    text-align: center;
    margin-bottom: 150px;
  }

  .departmentPic {
    margin-top: 20px;;
    margin: auto;
  }
  
  .produce {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    border-radius: 50%;
    height: 300px;
    width: 300px;
  }
  
  .departmentHolder {
    margin: 20px 10px 10px 10px;
    justify-content: space-between;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .right {
    margin: auto;
    text-align: center;
    width: 90%;
  }

  .left {
    margin-bottom: 20px;
    margin-top: 20px;
    margin: auto;
    text-align: center;
    width: 90%;
  }

  .size {
    font-size: 25px;
  }

  .ssize {
    font-size: 20px;
  }

  .formButton {
    margin: 10px 0px 10px 5px;
    padding: 1.5%;
    margin-left: 280px;
  }

  .holders {
    text-align: center;
    margin: auto;
  }

  form {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}


/* MOBILE */
/* MOBILE */
/* MOBILE */
@media only screen and (max-width: 550px) {
  nav {
    max-height: 30rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
  }

  .imgHolder {
    margin-top: -40px;
    width: 60%;
    display: flex;
    margin: 0 auto;
  }

  .logo {
    margin-top: -50px;
    margin: 0 auto;
    border-radius: 90%;
  }

  .anchor {
    text-decoration: none;
    font-size: 15px;
    cursor: grab;
    color: white;
    flex-direction: row;
    padding: 8px;
    border-bottom: 2px solid black;
  }

  .mainBoard {
    border-radius: 30px;
    margin: auto;
    width: 90%;
    background-color: white;
    padding-top: 10px;
  }

  .linkHolder {
    display: flex;
    flex-direction: column;
    background-color: #800020;
    width: 100%;
    margin: auto;
  }
  .imgHolder {
    margin: 0px 0px 0px 20px;
    margin: auto;
  }

  .logo {
    border-radius: 90%;
    background-color: white;
  }

  .heading {
    text-align: center;
    margin: 20px 0px 0px 10px;
    font-size: 45px;
  }
  
  .alter {
    font-size: 25px;
    margin: auto;
    text-align: center;
    margin-bottom: 150px;
  }

  .departmentPic {
    margin-top: 20px;;
    margin: auto;
  }
  
  .produce {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    border-radius: 50%;
    height: 300px;
    width: 300px;
  }
  
  .departmentHolder {
    margin: 20px 10px 10px 10px;
    justify-content: space-between;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .right {
    margin: auto;
    text-align: center;
  }

  .left {
    margin-bottom: 20px;
    margin-top: 20px;
    margin: auto;
    text-align: center;
  }

  .size {
    font-size: 25px;
  }

  .ssize {
    font-size: 20px;
  }

  .formButton {
    margin: 10px 0px 10px 5px;
    padding: 1.5%;
    margin-left: 230px;
  }
}
